extends layout

block content
  h1= title
  p Welcome to #{title}

  form(name="/", method="post")
    div.input
      span.label Username
      input(type="text", name="username")
    div.input
      span.label Password
      input(type="password", name="password")
    div.actions
      input(type="submit", name="new_user" value="Create New User")
      input(type="submit", name="login" value="Login")

  p Log:
  pre #{log}
